<!DOCTYPE html>
<html>
<head>
	<title>Products Catalog</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

</head>
<body>


	<h1>visit /api/products to see products</h1>
	<h1>visit /api/ to see api</h1>

<!-- <%= process.env.PASSWORD %> -->

</body>
</html>